@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');
.numbers-btn {

    border-radius: 100%;
    width: 40px;
    height: 40px;
    color: white;
    background-color: hsl(213, 19%, 18%);
    text-align: center;
    margin-top: 30px;

}

.ratings-container {
    display: flex;
    justify-content: space-between;

}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.submit-btn {
    border-radius: 10px;
    background-color: hsl(25, 97%, 53%);
    text-align: center;
    color: hsl(0, 0%, 100%);
    letter-spacing: 2px;
    padding: 8px;
    margin-top: 15px;
}

.numbers-btn:hover {

  background-color: hsl(25, 97%, 53%);
  cursor: pointer;

}

.submit-btn:hover {
    background-color: white;
    color: hsl(25, 97%, 53%);
}

.selected-rating {
    background-color:grey;
}
